<div class="container">

  <div class="card text-center">
    <img class="card-img-top" src="./assets/our_wedding.png" alt="Card image cap">
    <h1 class="card-title bold">Nallayasami <span class="heart">❤</span> Preetheepa</h1>

    <div class="card-body">
      <h2>It is a wonderful mystic moment,</h2>
      <h2>when a beautiful love story begins... for a lifetime! </h2>
      <br />
      <h2>We cordially invite your esteemed presence with family and friends on the pleasant occasion of our wedding
        reception on 
      </h2>
      </div>
      <div class="card-body">
      <h4> <label class="line"> Sunday, </label> <label class="space-italic">08th </label>
      <label class="line">March</label><label class="line"> evening</label> <label class="space-italic">06:00pm </label>
      <label class="line">onwards in Shanmuga Thirumana Mahal, Near Sivan temple, Thiru-ve-ka Street,Villupuram.</label></h4>
    </div>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://plugins.eventable.com/eventable.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'eventable-script');</script>
  <div class="card text-center">
    <div class="card-footer text-muted">
      <input [value]="days" disabled /> days
      <input [value]="hours" disabled /> hours
      <input [value]="minutes" disabled /> minutes
      <input [value]="seconds" disabled /> seconds to Go !
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15613.527090411551!2d79.4956782!3d11.9480482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca3fce21cfadc109!2sShanmuga%20Mahal!5e0!3m2!1sde!2sde!4v1581457670745!5m2!1sen!2sde"
        width="450vw" height="338vh" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
