input {
    width: 30px;
    text-align: center;
}

.card-img-top {
    object-fit: scale-down;
    width: 40vw;
    align-self: center;
    filter: drop-shadow(1);
}

.bold {
    font-weight: bold;
}

div {
    background-color: unset !important;
    border: none !important;
}

.heart {
    color: red;
}

.border{
    position: absolute;
    left: 0;
}

.line {
    display: inline;
    font-family: "alex_brushregular";
    font-size: 30px;
    
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

.space-italic {
    font-style: italic;
    padding: 5px;
}