@font-face {
    font-family: "alex_brushregular";
    src: url("assets/fonts/alexbrush-regular-webfont.woff2") format("woff2"), url("assets/fonts/alexbrush-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


.spl-text, h1 {
    font-family: "alex_brushregular";
    font-size: 24px;
    
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

th, td,
p, h2 {
    font-family: "alex_brushregular";
    font-size: 19px;
    
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h3 {
    font-family: "alex_brushregular";
    font-size: 14px;
    
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

blockquote {
    font-family: "alex_brushregular";
    font-size: 21px;
    
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "alex_brushregular";
    font-size: 13px;
    
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

body {
    background-image: url("/assets/red.jpg");
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    color: brown !important;
}


/* mediumvioletred
forestgreen
deeppink
darkmagenta
firebrick  */