<div class="container">

  <div class="card text-center">
    <img class="card-img-top" src="./assets/our_wedding.png" alt="Card image cap">
    <h1 class="card-title bold">Nallayasami <span class="heart">❤</span> Preetheepa</h1>

    <div class="card-body">
      <h2>It is a wonderful mystic moment,</h2>
      <h2>when a beautiful love story begins... for a lifetime! </h2>
      <br />
      <h2>We cordially invite your esteemed presence with family and friends on the pleasant occasion of our wedding.
      </h2>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title bold" style="display: inline-block;">Engagement</h1>
      <h4><label class="line">Wed, </label>04 <label class="line"> March </label><label class="space-italic">06:00pm - 07:30pm</label></h4>
    </div>
    <div class="card text-center">
      <div class="card-header">
        <h1 class="card-title bold">Wedding</h1>
        <h4><label class="line">Thu, </label>05 <label class="line"> March </label><label class="space-italic">08:25am - 09:25am</label></h4>
      </div>
      <a href="https://add.eventable.com/events/5e1afba021566800ab97c12e/5e1afba221566800b27c4c41"
        class="card-link btn btn-primary" target="_blank" data-key="5e1afba021566800ab97c12e" role="button"
        data-event="5e1afba221566800b27c4c41" data-style="3" style="width: 15vw; align-self: center;">
        <i class="fa fa-calendar" aria-hidden="true"></i> Add to Calendar</a>
    </div>
    <div class="card text-center">
      <div class="card-footer text-muted">
        <input [value]="days" disabled /> <label class="space-italic"> days</label>
        <input [value]="hours" disabled /><label class="space-italic"> hours</label>
        <input [value]="minutes" disabled /><label class="space-italic"> minutes</label>
        <input [value]="seconds" disabled /><label class="space-italic"> seconds to Go !</label>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4712.87806435437!2d77.91265191525862!3d10.28617849265531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b075345b89b90ed%3A0x2fe4d4a274d00963!2sBalaji%20Community%20Hall!5e1!3m2!1sde!2sde!4v1582117769237!5m2!1sen!2sde"
          width="500vw" height="338vh" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>
    </div>
  </div>
