<div class="container">
  <!-- <div class="card "> -->
  <div class="card text-center">
    <div class="card-header"></div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title bold">Nallayasami <span class="heart">❤</span> Preetheepa</h1>
    </div>
    <div class="card-header"></div>

    <img class="card-img-top" src="./assets/logo.jpg" alt="Card image cap">
    <div class="card-body"></div>
    <div class="card-body">
      <h2>It is the wonderful mystic moment,</h2>
      <h2>when a beautiful love story begins... for a life time ! </h2>
      <br/>
      <h2>We Cordially invite your esteemed presence with family and friedns on the pleasant occasion of our marriage.</h2>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title bold">Engagement</h1>
    </div>
    <div class="card-body">
      <h4>March 04, 2020 06:00pm - 07:30pm </h4>
    </div>
    <div class="card text-center">
      <div class="card-header">
        <h1 class="card-title bold">Wedding</h1>
      </div>
      <div class="card-body">
        <h4>March 05, 2020 08:25am - 09:25am</h4>
        <a href="https://add.eventable.com/events/5e1afba021566800ab97c12e/5e1afba221566800b27c4c41"
          class="card-link btn btn-primary" target="_blank" data-key="5e1afba021566800ab97c12e" role="button"
          data-event="5e1afba221566800b27c4c41" data-style="3">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Add to Calendar</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-footer text-muted">
        <input [value]="days" disabled /> days
        <input [value]="hours" disabled /> hours
        <input [value]="minutes" disabled /> minutes
        <input [value]="seconds" disabled /> seconds to Go !
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5137.117210750752!2d77.91557554183822!3d10.287537272619312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b075345c7c8a133%3A0x5d547f8c7c1d71bd!2sBalaji%20Marriage%20Hall!5e1!3m2!1sde!2sde!4v1578782096919!5m2!1sde!2sde"
          width="450vw" height="338vh" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>