input {
    width: 30px;
    text-align: center;
}

.card-img-top {
    object-fit: scale-down;
    width: 40vw;
    align-self: center;
    filter: drop-shadow(1);
}

.bold {
    font-weight: bold;
}

div {
    background-color: unset !important;
    border: none !important;
}

.heart {
    color: red;
}

.border{
    position: absolute;
    left: 0;
}